In [2]:
import pandas as pd
df = pd.read_csv("data/Library_Usage.csv",low_memory=False)
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
12694,Senior,12233,5416,75 years and over,Merced,Mar,2024,Email,True,2003,False
12925,Senior,10428,1079,75 years and over,Ortega,Mar,2024,Email,True,2003,False
54102,Senior,17663,56,65 to 74 years,Marina,Mar,2024,Email,True,2008,False
54414,Senior,12675,1422,65 to 74 years,Chinatown,Mar,2024,Email,True,2003,False
59475,Senior,11252,2628,65 to 74 years,Main,Mar,2024,Phone,False,2013,True
...,...,...,...,...,...,...,...,...,...,...,...
293994,Adult,39743,659,60 to 64 years,Ortega,Mar,2024,Email,True,2003,True
294100,Adult,10454,8663,35 to 44 years,Ortega,Mar,2024,Email,True,2003,True
306622,Adult,10065,3897,60 to 64 years,Golden Gate Valley,Mar,2024,Email,True,2003,True
312053,Adult,14825,3915,25 to 34 years,Park,Mar,2024,Email,True,2003,True
328352,Adult,12122,122,55 to 59 years,Bayview,Mar,2024,Email,True,2003,True

In [3]:
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
12694,Senior,12233,5416,75 years and over,Merced,Mar,2024,Email,True,2003,False
12925,Senior,10428,1079,75 years and over,Ortega,Mar,2024,Email,True,2003,False
54102,Senior,17663,56,65 to 74 years,Marina,Mar,2024,Email,True,2008,False
54414,Senior,12675,1422,65 to 74 years,Chinatown,Mar,2024,Email,True,2003,False
59475,Senior,11252,2628,65 to 74 years,Main,Mar,2024,Phone,False,2013,True
...,...,...,...,...,...,...,...,...,...,...,...
293994,Adult,39743,659,60 to 64 years,Ortega,Mar,2024,Email,True,2003,True
294100,Adult,10454,8663,35 to 44 years,Ortega,Mar,2024,Email,True,2003,True
306622,Adult,10065,3897,60 to 64 years,Golden Gate Valley,Mar,2024,Email,True,2003,True
312053,Adult,14825,3915,25 to 34 years,Park,Mar,2024,Email,True,2003,True
328352,Adult,12122,122,55 to 59 years,Bayview,Mar,2024,Email,True,2003,True

In [4]:
#filtern nach Senioren die per Mail benachrichtigt werden wollen
row_filter = (df['Patron Type Definition'] == 'Senior') & (df['Notice Preference Definition'] == 'Email')
df.loc[row_filter]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022,Email,True,2015,False
5,Senior,0,0,75 years and over,Main,Apr,2021,Email,True,2009,False
27,Senior,0,0,75 years and over,Main,Oct,2023,Email,True,2016,False
28,Senior,0,0,65 to 74 years,Main,Mar,2024,Email,True,2016,False
29,Senior,0,0,65 to 74 years,Main,Aug,2023,Email,True,2020,False
...,...,...,...,...,...,...,...,...,...,...,...
450101,Senior,0,0,75 years and over,Main,Mar,2024,Email,True,2013,False
450102,Senior,0,0,65 to 74 years,Noe Valley,Mar,2024,Email,True,2019,False
450142,Senior,0,0,65 to 74 years,Main,Nov,2022,Email,True,2021,Null
450143,Senior,0,0,65 to 74 years,Main,Mar,2024,Email,True,2019,Null
450144,Senior,1,0,75 years and over,Main,Jan,2024,Email,True,2015,Null

In [5]:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

In [11]:
#Kinder unter 10 Jahren zählen
Kids = (df['Age Range'] == '0 to 9 years').sum()

In [12]:
Kids

33180

In [13]:
#oder Alternative um Kinder unter 10 zu zählen:
print(len(df[df['Age Range'] == '0 to 9 years']))

33180

In [19]:
Checkouts = df['Total Checkouts'] >= 20000

In [20]:
Checkouts.sum()

7

In [21]:
#oder:
(df['Total Checkouts'] > 20000).sum()

7

In [22]:
#Personen, die aus Richmond stammen
(df['Home Library Definition'] == 'Richmond').sum()

21433

In [24]:
# Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?

# Hierfür wird die in Aufgabe 2.5 neu definierte Variable 'Membership Duration' benötigt. 
# Entweder rechnest Du mit der gleichen Datei wie aus Aufgabe 2.5 weiter, oder führst die dortigen Schritte
# noch einmal durch

### erneute Berechnung von 'Membership Duration' ###
df['Circulation Active Year'] = pd.to_numeric(
    df['Circulation Active Year'], errors='coerce'
)
#
df['Circulation Active Month'] = pd.to_datetime(
   df['Circulation Active Month'],
    errors='coerce',
    format="%b"
)
#
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

df['Membership Duration'] = (
   df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']
df['Membership Duration'] = df['Membership Duration'].fillna(0)
####                                             ###

print(len(df[df['Membership Duration'] == 0])/len(df))

# alternative
(df['Membership Duration'] == 0).mean()

0.08952191473913033

0.08952191473913033