In [1]:
import pandas as pd
df = pd.read_csv('data/Library_Usage.csv',na_values="Null",
                 low_memory=False
                )
df['Age Range'].value_counts()
#value counts gibt absolute Häufigkeitstabellen aus

Age Range
25 to 34 years       95278
35 to 44 years       85669
10 to 19 years       67758
45 to 54 years       49820
0 to 9 years         33180
65 to 74 years       32455
20 to 24 years       27145
75 years and over    20721
55 to 59 years       19735
60 to 64 years       18088
Name: count, dtype: int64

In [2]:
df['Age Range'].value_counts(normalize=True)
#berechnet relative Häufigkeiten

Age Range
25 to 34 years       0.211800
35 to 44 years       0.190439
10 to 19 years       0.150624
45 to 54 years       0.110748
0 to 9 years         0.073758
65 to 74 years       0.072146
20 to 24 years       0.060342
75 years and over    0.046062
55 to 59 years       0.043870
60 to 64 years       0.040209
Name: proportion, dtype: float64

In [14]:
age_mode = df['Age Range'].mode()
age_mode [0]

#mode zeigt mir das Merkmal, das die meisten Beobachtungen besitzt

'25 to 34 years'

In [5]:
df["Year Patron Registered"].value_counts(normalize=True)

Year Patron Registered
2023    0.132654
2022    0.115015
2003    0.088927
2021    0.072678
2019    0.072502
2020    0.065870
2017    0.064515
2018    0.062939
2016    0.048117
2015    0.043767
2014    0.033917
2013    0.028750
2012    0.027600
2011    0.026841
2009    0.024580
2010    0.024363
2008    0.021705
2007    0.014033
2006    0.011302
2005    0.010263
2004    0.009661
Name: proportion, dtype: float64

In [7]:
#mir anzeigen lassen, wieviele Zeilen unbelegt sind
df['Age Range'].isna().sum()

510

In [9]:
#mit inplace true überschreibe ich den Datensatz
age_mode = df['Age Range'].mode() [0]
df['Age Range'].fillna(age_mode, inplace=True)

/tmp/ipykernel_84484/1452757033.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age Range'].fillna(age_mode, inplace=True)

In [10]:
df['Age Range'].isna().sum()

0