In [1]:
# import the library and give it a shorter name 'pd'
import pandas as pd

In [4]:
# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5, 6, 7],
        'temperatur': [-12, 3, 9, 7, 10, 15, 21]
})

In [5]:
# have a look at df
df

   month  temperatur
0      1         -12
1      2           3
2      3           9
3      4           7
4      5          10
5      6          15
6      7          21

In [6]:
# print out some descriptive statistics
df.describe()

          month  temperatur
count  7.000000    7.000000
mean   4.000000    7.571429
std    2.160247   10.390014
min    1.000000  -12.000000
25%    2.500000    5.000000
50%    4.000000    9.000000
75%    5.500000   12.500000
max    7.000000   21.000000

In [ ]:
#Dabei haben die ausgegebenen Kennziffern folgende Bedeutung:

    #count: Anzahl der Nicht-NaN-Eintr√§ge
    #mean: Durchschnitt der Werte (auch mit DataFrame.mean() einsehbar)
    #std: Standardabweichung der Werte
    #min, 25%, 50%, 75%, max: Minimum, 25. Perzentil, Median (50. Perzentil), 75. Perzentil, Maximum der Werte