In [1]:
import pandas as pd
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

In [2]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

In [ ]:
#Skalenniveau: Month=Nominal, Temp=metrisch, below zero= nominal
#Variablen: Month=diskret, temp=stetig
#Datentyp:

In [3]:
#Datentypen
df.dtypes

month         object
temp           int64
below_zero      bool
dtype: object

In [5]:
data = {'month': ['Jan', 'Feb', 'Mar', 'Apr'],
        'temp': [-5, 2, 3,5],
         'below_zero': [True, False, False,False],
       'year':[2020]*4}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020